<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SMC</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/Bootstrap-4---Photo-Gallery.css">
    <link rel="stylesheet" href="../assets/css/Button-Ripple-Effect-Animation-Wave-Pulse.css">
    <link rel="stylesheet" href="../assets/css/CanitoFormulario-Compra.css">
    <link rel="stylesheet" href="../assets/css/Contact-FormModal-Contact-Form-with-Google-Map.css">
    <link rel="stylesheet" href="../assets/css/Contact-Info--Google-Map.css">
    <link rel="stylesheet" href="../assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="../assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="../assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="../assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="../assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="../assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="../assets/css/MAV_ModalContactForm.css">
    <link rel="stylesheet" href="../assets/css/Mega-Menu-Dropdown-100-Editable---Ambrodu.css">
    <link rel="stylesheet" href="../assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../assets/css/PHP-Contact-Form-dark-1.css">
    <link rel="stylesheet" href="../assets/css/PHP-Contact-Form-dark.css">
    <link rel="stylesheet" href="../assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../assets/css/Responsive-Form-1.css">
    <link rel="stylesheet" href="../assets/css/Responsive-Form.css">
    <link rel="stylesheet" href="../assets/css/Responsive-Image-Grid.css">
    <link rel="stylesheet" href="../assets/css/Single-Page-Contact-Us-Form.css">
    <link rel="stylesheet" href="../assets/css/sticky-dark-top-nav-with-dropdown.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/WOWSlider-about-us-1.css">
    <link rel="stylesheet" href="../assets/css/WOWSlider-about-us-2.css">
    <link rel="stylesheet" href="../assets/css/WOWSlider-about-us.css">
</head>

<body style="background: url(&quot;../assets/img/7-Best-Pattern-of-Background-Images-for-Websites-1-Dark-Wood.jpg&quot;);">
    <div class="container" style="margin-left: 26.8px;margin-top: 100px;">
        <div class="row">
            <div class="col-md-7 mb-4" style="background: #aea3a3;padding-bottom: 40px;padding-right: 40px;">
                <h1 class="my-4">Parent</h1><img src="../assets/img/meeting.jpg" style="min-width: auto;max-width: 100%;">
            </div>
            <div class="col-md-5 col-lg-4 mb-4" style="width: 600px;padding-right: 0px;margin-top: 90px;"><button class="btn btn-success btn-lg border rounded-0 ripple-effect" type="button" style="width: 200px;font-size: 103%;margin: 2%;height: 54px;background: rgb(201,18,231);">Register</button><button class="btn btn-success border rounded-0 ripple-effect" type="button" style="width: 200px;font-size: 103%;margin: 2%;background: rgb(57,225,15);">Communicate Home Room Teacher</button><button class="btn btn-primary btn-lg border rounded-0 ripple-effect" type="button" style="border-color: var(--primary);font-size: 103%;height: 54px;margin: 2%;width: 200px;background: rgb(0,194,255);">View Record &amp; Status</button></div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/Button-Ripple-Effect-Animation-Wave-Pulse.js"></script>
    <script src="../assets/js/Contact-FormModal-Contact-Form-with-Google-Map.js"></script>
    <script src="../assets/js/PHP-Contact-Form-dark-1.js"></script>
    <script src="../assets/js/PHP-Contact-Form-dark.js"></script>
    <script src="../assets/js/WOWSlider-about-us.js"></script>
</body>

</html>